<div class="header">
</div>
<div class="body">
    <p>W celu zresetowania hasła konta wolontatriusza TOZ kliknij w poniższy link:</p>
    <a href="{{url}}?token={{token}}">{{url}}?token={{token}}</a>
</div>
<div class="footer">
</div>
